
#main {
	width: 600px;
	margin: 30 auto 300 auto;
	word-wrap: break-word;
	}

/* TOC: */
#main > * > ul {
	border: 1px solid black;
	background: #eee;
	padding: 10px 10px 10px 30px;
	margin-left: 0;
	}
#main > * > ul li {
	margin-bottom: 4px;
	}

p {
	}

h1 {
	font-size: 28px;
	}

h2 {
	font-size: 18px;
	margin-top: 30px;
	}

pre {
	border: 1px dotted black;
	background: #eee;
	padding: 10px;
	}
